body {
    font-family: arial,sans-serif;
}
.nav_text {
    color: black;
    opacity: .75;
    font-size: 13px;
}

.nav_text:hover {
    text-decoration: underline;
    color: black;
}

.nav_top {
    height: 30px;
    padding: 0;
    margin-top: 15px;
}

/*
.nav_link_icon {
    background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    padding-left: 15px;
}

#nav_link_images {
    padding-right: 15px;
}

#nav_link_apps {
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
}

#nav_link_bell {
    background-position: -194px -21px;
    opacity: .55;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#nav_link_initials {
    background-image: 
        url(https://lh3.googleusercontent.com/-Jcg8Hv7H-Ac/AAAAAAAAAAI/AAAAAAAAAAA/AB6qoq1K0DivnWNfxwCy862dkynXz1CMoA/s32-c-mo/photo.jpg);
    height: 32px;
    width: 32px;
    border-radius: 50%;
} */

section {
    height: 233px;
    margin-top: 89px;
}
.google_logo {
    display:block;
    margin: auto;
    margin-top: 153px;
    height: 92px;
    width: 272px;
}


form {
    margin: auto;
    width: 484px;
}

.btn-block {
    height: 44px;
    overflow: hidden;
    padding: 1px 65px 2px 16px;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    border-bottom-color: #d1d1d1;
    box-shadow: 0px 2px 2px -1px #d1d1d1;
}



.btns_centered {
    text-align: center;
}

button {
    height: 36px;
    line-height: 27px;
    border: none;
    border-radius: 2px;
    background: #f2f2f2;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}